$full-nav-height: 80px;
$nav-color-light: #00a087;
$nav-color-dark: #e8fdff;

#nav-bar {
  top: 0;
  position: fixed;
  height: $full-nav-height;
  width: 100%;
  background-color: $nav-color-light;
  color: $nav-color-dark;
  padding: 0 2em;
  z-index: 100;
  .logo {
    height: $full-nav-height;
    width: $full-nav-height;
    margin-right: 10px;
    float: left; /* This keeps the header from going wonksville */
  }
  .header {
    font-size: 2rem;
    line-height: 2.5;
  }

  .button {
    margin-top: 14.5px;
    float: right;
    padding: 15px;
    border-radius: 5px;
    background-color: $nav-color-dark;
    color: $nav-color-light;
    border-color: black;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}




