$faded-opac: .8;

.old-tweets {
  margin-top: 20px;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  overflow: hidden; /* otherwise the corner of the child header pokes out */
  header {
    background-color: #EEEEEE;
    padding: 5px;
    .user-name {
      opacity: $faded-opac;
      font-size: 1.25rem;
      font-weight: bold;
      vertical-align: top;
      line-height: 1.5;
      margin-left: 3px;
    }
    .user-handle {
      opacity: $faded-opac;
      color: #ACACAC;
      float: right;
      font-size: .75rem;
      margin: 5px;
    }
    img {
      opacity: $faded-opac;
      height: 30px;
      border-radius: 5px;
    }
  }
  .content {
    padding: 5px;
  }
  div.content {
    margin: 10px;
  }
  footer {
    font-size: .6rem;
    border-top: 1px #d3d3d3 solid;
    .time {
      line-height: 3;
      margin-left: 5px;
    }
  }
  .icons {
    opacity: 0;
    float: right;
    margin-top: 4px;
    .icon {
      font-size: .9rem;
      color: #00a087;
      margin: 2px;
    }
  }
}

@import 'partials/tweet-hover';
@import 'partials/new-tweet';
