section.new-tweet {
  background-color: #EEEEEE;
  margin: auto;
  margin-top: 20px;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  padding: 0 10px 10px;
  display: none;
}

.new-tweet h2 {
  padding-bottom: 1px;
  border-bottom: 1px solid black;
  margin-top: 5px;
}

textarea {
  width: 100%;
  padding: 5px;
}

input {
  background-color: transparent;
}

span.counter {
  float: right;
  font-size: .75rem;
  font-style: italic;
  padding: 5px 5px;
}

.error {
  padding: 1px 7px 2px; /* same as tweet button, to line up */
  color: red;
  display: none;
}

/*https://uxplanet.org/how-to-write-a-perfect-error-message-da1ca65a8f36*/
/*clear, helpful, specific, polite, humor when appropriate*/