main.container {
  padding: 0 2em;
}

section.new-tweet {
  background-color: #EEEEEE;
  margin: auto;
  margin-top: 20px;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  padding: 0 10px 10px;
}

.new-tweet h2 {
  padding-bottom: 1px;
  border-bottom: 1px solid black;
  margin-top: 5px;
}
form {
}
textarea {
  width: 100%;
  padding: 5px;
}
input {
  background-color: transparent;
}
span.counter {
  float: right;
  font-size: .75rem;
  font-style: italic;
  padding: 5px 5px;
}