.old-tweets {
  margin-top: 20px;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  overflow: hidden; /* otherwise the corner of the child header pokes out */
}

.old-tweets header {
  background-color: #EEEEEE;
  padding: 5px;
}

.old-tweets header .user-name {
  opacity: .8; /* change with hover */
  font-size: 1.25rem;
  /*color: #244751;*/
  font-weight: bold;
  vertical-align: top;
  line-height: 1.5;
  margin-left: 3px;
}

.old-tweets header .user-handle {
  opacity: .8; /* change with hover */
  color: #ACACAC;
  float: right;
  font-size: .75rem;
}

.old-tweets header img {
  opacity: .8; /* change with hover */
  height: 30px;
}

.old-tweets .content {
  padding: 5px;
}

.old-tweets div.content {
  margin: 10px;
}

.old-tweets footer {
  font-size: .6rem;
  border-top: 1px #d3d3d3 solid;
}

.old-tweets .icons {
  opacity: 0;
  float: right;
  margin-bottom: 10px;
}

.old-tweets .icon {
  font-size: .9rem;
  color: #00a087;
}